body{
    text-align: center;
    margin: 0px;
}

.title-background{
    background: url('https://media.istockphoto.com/id/1551595837/vector/seamless-pizza-sketch-on-black-background.jpg?s=612x612&w=0&k=20&c=KiHqfnB__1sH7RO0URjqdjE94F5Sjlm1sniFzEx3mtE=');
    height: 150px;
}
.title{
    font-size: 4rem;
    color: yellow;
    text-shadow: 2px 3px 1px red;
    padding-top: 25px;
}

#creator-text{
    color: red;
    text-shadow: none;
    font-weight: bold;
    text-shadow: 2px 2px 1px yellow;
    
}

#creator-text:hover{
    text-shadow: 2px 2px 30px yellow;

}


.modal{
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: black;
    height: 420px;
    width: 350px;
    margin: auto;
    background-color: grey;
    border: 1px black solid;
    border-radius: 8px;
}

.modal-close-btn{
    background: none;
    border: none;
    font-size: 15px;
    padding-left: 305px;
    padding-top: 10px;
}
.modal-close-btn:disabled,
.modal-close-btn:disabled:hover {
    cursor: not-allowed;
    color: black;

}

.modal-close-btn:hover,
.modal-close-btn:active {
    color: red;
}

.modal-choice-btn{
    margin-top: 30;
}

.modal-submit-btn{
    width: 100px;
    height: 25px;
    border: 1px black solid;
    border-radius: 5px;

}

.modal-submit-btn:hover{
    background-color: red;
}